.servicos-bg {
    background: var(--cor-3);
}

.servicos-conteudo {
    position: relative;
}

.servicos-conteudo::before {
    content: '';
    width: 80px;
    height: 80px;
    background: url(../../imgs/dec/detalhe.svg) no-repeat top 10px right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.lista-servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
    padding: 0;
}

.lista-servicos h3 {
    grid-row: 1/-1;
    background-color: var(--cor-2);
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}

.lista-servicos li {
    padding: 8px;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.lista-servicos ul span {
    text-align: right;
    color: var(--cor-2);
    text-transform: uppercase;
} 

@media (max-width: 650px) {
    .lista-servicos {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .servicos-conteudo::before {
        display: none;
    }
}