.depoimentos-bg {
    background-color: var(--cor-2);
}

.depoimentos-galeria-bg {
    background: url(../../imgs/dec/textura.svg) no-repeat center / cover;
}

.depoimentos {
    padding-left: 60px;
}

.depoimentos-galeria {
    display: flex;
    gap: 32px;
    overflow-x: auto;
    padding: 80px 120px;
}

.card-img {
    flex: 1;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
}

.card-img img {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-img-conteudo {
    background-color: var(--cor-3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 32px;
}

.card-img-conteudo p {
    margin-bottom: 16px;
}

@media (max-width: 800px) {
    .depoimentos-galeria {
        padding: 60px 24px;
        gap: 24px;
    }

    .depoimentos {
        padding-left: 40px;
    }
}

@media (max-width: 600px) {
    .depoimentos-galeria {
        padding: 40px 20px;
        gap: 20px;
    }

    .depoimentos {
        padding-left: 20px;
    }
}