.destaques-bg,
.experimente-bg {
    position: relative;
    background-color: var(--cor-1);
}

.destaques,
.experimente {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center start;
    padding: 200px 60px;
}

@media (max-width: 800px) {
    .destaques {
        padding: 130px 30px;
    }
}

@media (max-width: 600px) {
    .destaques {
        padding: 100px 20px;
    }
}