.experimente-bg {
    background-color: var(--cor-3);
    box-shadow: inset 0 -280px var(--cor-2);
}

.experimente-conteudo {
    margin-bottom: 24px;
}

.experimente-conteudo p {
    margin-top: 4px;
}

.experimente-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    padding-bottom: 80px;
}

@media (max-width: 800px) {
    .experimente-bg {
        box-shadow: inset 0 -200px var(--cor-2);
    }
}

@media (max-width: 600px) {
    .experimente-bg {
        box-shadow: inset 0 -150px var(--cor-2);
    }
    .experimente-imgs {
        grid-template-columns: 1fr;
        gap: 12px;
    }
    .experimente-imgs div:nth-child(2) {
        display: none;
    }
}