.experimente-bg {
    background-color: var(--cor-3);
}

.experimente-conteudo {
    margin-bottom: 24px;
}

.experimente-conteudo p {
    margin-top: 4px;
}

.experimente-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.experimente-imgs div img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 600px) {
    .experimente-imgs {
        grid-template-columns: repeat(2, minmax(200px, 300px));
        overflow-x: auto;
    }
}