.introducao-bg {
    position: relative;
    background: var(--cor-3);
}

.introducao-bg::before {
    content: "";
    width: 100%;
    height: 140px;
    bottom: 0px;
    left:  0;
    background: var(--cor-1) url("../../imgs/dec/wave-b.svg") no-repeat top left / cover;
    position: absolute;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 60px 100px 200px 60px;
}

.introducao-conteudo p {
    margin-top: 32px;
    max-width: 40ch;
}

.introducao-conteudo a {
    margin-top: 40px;
}

@media (max-width: 800px) {
    .introducao{
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 60px 30px 120px 30px;
    }
    .introducao-img img {
        display: none;
    }
}