.introducao-bg {
    position: relative;
    background: var(--cor-3);
    box-shadow: inset 0 20px var(--cor-3);
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 60px 60px 100px 60px;
}

.introducao-conteudo h1 {
    font: 4rem 'Aclonica', sans-serif;
    white-space: nowrap;

}

.introducao-conteudo h1 span {
    color: var(--cor-2);
}

.introducao-conteudo p {
    margin-top: 32px;
    max-width: 40ch;
}

.introducao-conteudo a {
    margin-top: 40px;
}

@media (max-width: 800px) {
    .introducao{
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 60px 30px 120px 30px;
    }
    .introducao-img img {
        display: none;
    }
}

@media (max-width: 600px) {
    .introducao{
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 60px 20px 100px 20px;
    }
    .introducao-img img {
        display: none;
    }    

    .introducao-conteudo h1 {
        font-size: 2.5rem;
    
    }
    
    .introducao-conteudo p {
        font-size: 1.1rem;
    }
    
    .introducao-conteudo a {
        font-size: 1rem;
    }
}