.destaques-bg,
.experimente-bg {
    position: relative;
    background-color: var(--cor-1);
}

.destaques {
    padding: 200px 60px;
}

.experimente {
    padding: 200px 60px 30px 60px;
}

@media (max-width: 800px) {
    .destaques {
        padding: 100px 30px;
    }

    .experimente {
        padding: 100px 30px 30px 30px;
    }
}

@media (max-width: 600px) {

    .destaques {
        padding: 80px 20px;
    }
    .experimente {
        padding: 80px 20px 20px 20px;
    }
}