* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #141414;
    background-color: var(--cor-1);
}

a {
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

img[src$='.jpg'] {
    border-radius: 5px;
}

body::-webkit-scrollbar {
    width: 11px;
    background-color: var(--cor-1);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-2);
    border: 2px solid var(--cor-1);
    border-radius: 10px;
}