.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    padding: 18px 28px;
    border-radius: 30px;
    background-color: var(--cor-2);
    text-transform: uppercase;
    max-width: max-content;
    color: var(--cor-0);
    font: 500 1.12rem/1.3 "Poppins", sans-serif;
}

.btn.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    width: 40px;
    visibility: hidden;
}

.header-menu a.btn {
    color: var(--cor-0);
}

.header-menu a.btn:hover,
.btn:hover {
    transition: .2s;
    background-color: var(--cor-2-b);
    transform: scale(1.01) translateY(-2px);
}

@media (max-width: 800px) {
    *.btn {
        padding: 16px 20px;
        font-size: 1rem;
    }

    .header-menu a.btn {
        background-color: var(--cor-2);
    }
}

.onda-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.onda-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.onda-top .shape-fill {
    fill: #F7F7F7;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .onda-top svg {
        width: calc(100% + 1.3px);
        height: 83px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .onda-top svg {
        width: calc(100% + 1.3px);
        height: 30px;
    }
}

.onda-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.onda-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.onda-bottom .shape-fill {
    fill: var(--cor-1);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .onda-bottom svg {
        width: calc(100% + 1.3px);
        height: 83px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .onda-bottom svg {
        width: calc(100% + 1.3px);
        height: 30px;
    }
}

.onda-bottom-b {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: var(--cor-3);
    padding-top: 10px;
    box-shadow: inset 0 10px var(--cor-2);
}

.onda-bottom-b svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.onda-bottom-b .shape-fill {
    fill: var(--cor-2);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .onda-bottom-b svg {
        width: calc(100% + 1.3px);
        height: 83px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .onda-bottom-b svg {
        width: calc(100% + 1.3px);
        height: 30px;
    }
}

@media (max-width: 600px) {

    .onda-bottom,
    .onda-bottom-b svg,
    .onda-top {
        display: none;
    }
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 24px;
    padding: 20px 0;
    color: var(--cor-2-b);
}

.titulo a:hover {
    color: var(--cor-4);
    text-decoration: none;
    transform: scale(1.01);
}

.destaques .titulo,
.experimente  .titulo{
    white-space: nowrap;
}

#agendar .titulo {
    white-space: break-spaces;
}

@media (max-width: 350px) {
    .destaques .titulo,
.experimente  .titulo{
    white-space: wrap;
}
}

@media (max-width: 800px) {
    .titulo {
        gap: 12px;
    }
}

@media (max-width: 600px) {
    .titulo {
        gap: 8px;
    }
    .titulo h2 {
        font-size: 1.2rem;
        letter-spacing: 0.10em;
    }

    .titulo a {
        font-size: 1rem;
        letter-spacing: 0.10em;
    }

    .experimente .titulo {
        white-space: normal;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 24px 0;
    width: 100%;
}

.card {
    background-color: var(--cor-0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 32px;
    gap: 16px;
    border-radius: 5px;
    min-width: 250px;
    position: relative;
}

.card::before {
    content: '';
    width: 80px;
    height: 80px;
    background: url(../../imgs/dec/detalhe.svg) no-repeat top 24px right 24px;
    position: absolute;
    top: 0;
    right: 0;
}

.card img {
    width: 80px;
}

@media (max-width: 800px) {
    .cards {
        gap: 24px;
        padding: 18px;
    }

    .card {
        padding: 24px;
        gap: 12px;
    }
}

@media (max-width: 620px) {
    .cards {
        gap: 18px;
        padding: 0;
    }
}

*[id].visivel {
    visibility: visible;
}